<html>
<head>
<style>
    body{
        background-color:powderblue;
    }
   





</style>
</head>
<body>
 <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h1>{{post.title}}</h1>
      </div>

      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <img style="border: 0px solid red; border-radius: 10px;" src="{{ post.image.url }}" height="400px"></a>
        </div>
        <div class="row">
            <div class="col">
               
            <h3><li>{{post.content}}</li></h3>
                
            </div>
        </div>
      </div>
    </body>   
</htmlL>