<html>
<head>
<style>
    body{
        background-color:powderblue;
    }
   h1{
        text-align:center;
        font-size: 50px;
   }
   p{
    font-size: 20px;
   }


.row {
  display: flex;
}
    .column {
  flex: 50%;
  padding: 10px;
  height: 500px; 
}
.button{
    text-align: center;
}


</style>
</head>
<body>

<h1>{{post.title}}</h1>
<div class="row" data-aos="fade-up">
        
    <div class="column">
        <img src="{{ post.image.url }}" height="400px"></img>
    </div>
<div class="">
                <p>{{post.content}}</p>
</div>
</div>
    <div class="button">
        <form action="{% url 'like_post' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="submit"><h4>Like &#x1F90E;{{post.likes}}</h4></button>
        </form>
    </div>

</body>
</html>